
body { 
    margin: 0; 
    padding: 0; 
}

#map { 
    position: absolute; 
    top: 0; 
    bottom: 0; 
    width: 100%; 
    margin: 0; 
    padding: 0; 
}

.line-selection{
    position: absolute; 
    left: 850px;
    background-color: lightblue;
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
    color: darkblue;
    text-decoration: none;
    width: 100%;
    margin: 0; 
    padding: 0; 
}

td:hover{
    color: lightblue;
    background-color: darkblue;
    text-decoration: none;
}
