
body { 
    margin: 0; 
    padding: 0; 
}

#map { 
    position: absolute; 
    top: 0; 
    bottom: 0; 
    width: 100%; 
}

.line-selection{
    position: absolute; 
    left: 850px;
    background-color: lightblue;
    list-style-type: none;
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
    color: darkblue;
    text-decoration: none;
    width: 100%;
}
