
body { 
    margin: 0; 
    padding: 0; 

    height: 100%;
}

.map-container {
    height: 85vh;
}

.line-selection {
    position: absolute; 
    right: 0px;
    font-size: 9;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    margin: 0; 
    padding: 0; 
}

table{
    background-color: #10291b;
    width: 125px;
    min-width: fit-content;
    height: 100%;
}

tr td{
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    margin: 0; 
    padding: 0; 
    text-align: center;
    align-items: center;
}

button {
    font-size: 1em;
    cursor: pointer;
    width: 10em;
    height: 2em;
}

button :nth-child(2+1){
    background-color: #04863c;
}
